
.card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/img/todas.png);
    background-size: cover;
    top: 0;
    left: 10;
    border: 1px solid blue;
    height: 100%;
    width: 100%;
}


.back_legado_img {
    background-image: url(/img/legado.jpg);
} 

.back_comida_img {
    background-image: url(/img/comida.jpg);
} 

.back_adrenalina_img {
    background-image: url(/img/adrenalina.jpg);
} 

.back_cultura_img {
    background-image: url(/img/cultura.jpg);
}

.back_viajes_img {
    background-image: url(/img/viaje.jpg);
}