@import url("/styles/atoms/edit_btn.css");
@import url("/styles/atoms/card_title.css");
@import url("/styles/atoms/card_image.css");


article {
    border: 1px solid rgb(102, 199, 46);
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
     border-radius: 15px;
   }

.card-front {
    border: 1px solid rgb(255, 145, 0);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 10;
}
.card-front img {
    opacity: 1;
}
