@import url("/styles/atoms/edit_btn.css");
@import url("/styles/atoms/card_front_title.css");


.card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/img/todas_opacity.png);
    background-size: cover;
    top: 0;
    left: 10;   
}

.front_legado_img {
    background-image: url(/img/legado_opacity.png);
} 

.front_comida_img {
    background-image: url(/img/comida_opacity.png);
} 

.front_adrenalina_img {
    background-image: url(/img/adrenalina_opacity.png);
} 

.front_cultura_img {
    background-image: url(/img/cultura_opacity.png);
}

.front_viajes_img {
    background-image: url(/img/viaje_opacity.png);
}