@import url("/styles/molecules/card_front.css");
@import url("/styles/molecules/card_back.css");
@import url("/styles/atoms/empezar_nuevo_btn.css");
@import url("/styles/atoms/mezclar_btn.css");

.card-container {
    border: 1px solid rgb(29, 226, 62);
    width: 90%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    column-gap: 15%;
    gap: 3%;
    margin-bottom: 20px;
}