
@import url("/styles/molecules/card_front.css");


.card-container {
    border: 1px solid red;
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}
