@import url("/styles/atoms/card_image.css");
/* 
@import url("/styles/atoms/card_title.css");
@import url("/styles/atoms/edit_btn.css"); 
*/

article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
  }
  article:hover {
    opacity:0.3;
  }
