main #menu-section {
  text-align: center;
}

dialog {
  width: 250px;
  height: 400px !important;
}

dialog section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 650px) {
  .card-container {
    max-width: 80%;
    max-height: 90%;
  }
}

@media (min-width: 950px) {
  .card-container {
    max-width: 60%;
    max-height: 70%;
  }
}

@media (min-width: 1200px) {
  header {
    margin: 0;
    padding: 30px 100px !important;
  }

  article img {
    width: 100%;
    height: auto;
  }

  .card-container {
    max-width: 100%;
    max-height: 100%;
    grid-template-columns: repeat(6, 1fr);
  }

  hr {
    display: none;
  }

  main {
    flex-direction: row !important;
  }

  #menu-section {
    margin-left: 50px;
    padding: 50px;
    justify-content: center;
  }

  #menu-section nav {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
  }

  #selected-container-section {
    padding-right: 20px;
    margin: 0;
  }

  .action-btn-container {
    margin-bottom: 20px;
  }
  .action-btn-container button {
    width: 200px !important;
    font-size: 1rem !important;
  }

  .card-content-title h3 {
    font-size: 1rem;
  }
}
