.card-front h3 {
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  line-height: 0.85rem;
  background-color: transparent;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgb(255, 255, 255),
  2px 2px 4px rgb(38, 204, 187);
  margin: auto 4%;
 
}