article  h3 {
/*clase copiada de figma pero he cambiado tamaño letra pq sino se veia demasiado pequeña*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    line-height: 1em;
    text-align: center;
    
    color: #FFFFFF;
    background-color: transparent ;
    
    /*He sacado el borde porque no lo aplicaba al texto sino al div h3, no he encontrado ningun atributo que lo haga text*/
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.82);
}
