dialog section select {
    width: 90%;
    padding: 6px;

    /* Look */
    background: #fff;
    color: grey;
    border-radius: 15px;
    border: 1px solid #F7F7F7;
}

dialog section select option {
    color: grey;
}