@import url("/styles/molecules/card_container.css");

main #card-container-section {
  border: 1px solid purple;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}