@import url("/styles/molecules/card_container.css");

main #card-container-section {

  /* height: 60%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
