
footer {
    text-align: center;
    padding: 17px;
    background-color: #26B19A;
    font-family:  Inter, sans-serif;
    font-size: 9px;
    letter-spacing: 1px;
    color: white;
    font-weight: 600;
  }