

@import url("/styles/molecules/selected_container_section-checked-adventure.css");
@import url("/styles/molecules/selected_container_section-title-trash.css");
@import url("/styles/atoms/hr.css");

#selected-container-section {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 10px;
    margin-bottom: 20px;
    gap: 10px;
    padding-left: 10px;
    border: 1px solid orange;
  }

