/* Information & Selected Dialog */
@import url("/styles/organisms/dialog1_inf_selected.css");

/* Card Selected Dialog */
@import url("/styles/organisms/cardselected_dialog.css");

/* Customize & Create Adventure Dialog */
@import url("/styles/organisms/dialog2_cust_creat_adventure.css");

/* Card Section */
@import url("/styles/organisms/card_container_section.css");

/* Header Menu */
@import url("/styles/organisms/header_menu.css");

/* NAV */
@import url("/styles/organisms/nav.css");

/* Already selected adventures container */
@import url("/styles/molecules/selected_container_section.css");

/* Footer */
@import url("/styles/organisms/footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ffffff;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Regular") format("ttf");
}

body {
  font-family: Inter, sans-serif;
}

header {
  border: 1px solid red;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px 10px;
}

header img {
  width: 150px;
}

header h6 {
  font-size: 16px;
  text-align: center;
}

main {
  border: 5px solid blue;
  height: auto;
  min-width: 320px;
  max-height: fit-content;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

main #menu-section {
  border: 1px solid yellow;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.selected-container {
  border: 1px solid yellow;
  height: 80%;
  gap: 5px;
}

.card-selected {
  border: 1px solid rgb(177, 34, 34);
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 5px;
}

.logo-mezclar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 40%;
  height: 40%;
  border-radius: 50%;
}
