/* Information & Selected Dialog */
@import url("/styles/organisms/dialog1_inf_selected.css");

/* Card Selected Dialog */
@import url("/styles/organisms/cardselected_dialog.css");

/* Customize & Create Adventure Dialog */
@import url("/styles/organisms/dialog2_cust_creat_adventure.css");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #2c2c2c;
  color: white;
}

@font-face {
  font: Inter, sans-serif;
  font-family: Inter, sans-serif;
  src: url('fonts/Inter-Regular') format('ttf');
}

body {
  font: Inter, sans-serif;
  font-family: Inter, sans-serif;
}

header {
  border: 1px solid red;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px 10px;
}

header img {
  width: 150px;
}

header h6 {
  font-size: 16px;
  text-align: center;
}

main {
  border: 5px solid blue;
  height: auto;
  min-width: 320px;
  max-height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

main #menu-section {
  border: 1px solid yellow;
  height: 20%;

  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

main section nav {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

main #card-container-section {
  border: 1px solid purple;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-container {
  border: 1px solid red;
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

article {
  border: 1px solid salmon;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article img {
  width: 100%;
  height: 100%;
}

.action-btn-container {
  display: flex;
  gap: 10px;
}

main #selected-container-section {
  border: 1px solid green;
  width: 90%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.selected-container {
  border: 1px solid yellow;
  height: 80%;
  gap: 5px;
}

.card-selected {
  border: 1px solid rgb(177, 34, 34);
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 5px;
}

hr {
  width: 90%;
}

footer {
  border: 1px solid red;
  text-align: center;
  padding: 5px;
}

#selected-container-section {
  display: flex;
  flex-direction: column;
}

#selected-container-section ul {
  list-style: none;
}